.env

/data/

*.local

.vscode/
.idea/

__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

venv/
env/
*.venv/

.DS_Store
Thumbs.db

node_modules/
bower_components/

build/
dist/
*.egg-info/

docker-compose.override.yml

*.log
logs/

*.tmp
*.temp

*.bak
*.backup

.ipynb_checkpoints/

/target/
/dbt_packages/
/dbt.log